    <div class="card bg-light text-center">
        <div class="card-body">
            <h5 class="card-title">Description:</h5>
            <hr>
            <p class="card-text">
                <%= simple_format(@article.description) %>
            </p>
            <div class = "article-actions">
                <h6 class="card-title-tag">Tagged users:</h6>
                <ul class="list-group list-group-horizontal-sm">
                    <% @tag_array.each do |tag| %>
                        <li class="list-group-item">
                             <div class="display users">
                                <span class="btn", id="tagged-users"><%= tag.user.username %></span>
                                <%= link_to "X",{action: "destroy", id:tag.id}, method: :delete, 
                                                    data: {confirm: "Are you sure you want to remove this user ?"},
                                                    class: "btn-close btn-outline-danger ",id: "close-button", aria: {label: "Close"} %>

                            </div>
                        
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Tag Users</a>
        <div class="form-inline">
        <%= form_for(:search,url: article_search_path(@article)) do |f| %>
            <%= f.search_field :query, placeholder: "Username..", class: "form-control mr-sm-2" %>  
            <%= f.submit "Search"%>
        <% end %>
        </div>
    </nav>