<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "Blog Adda", root_path, class:"navbar-brand" ,id: "logo"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <li><%= link_to "Your Articles", articles_path, class: "nav-link"%></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "Tagged Articles", tagged_path, class: "nav-link"%></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "Create Article", new_article_path, class:"nav-link" %></li>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=  current_user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Edit Your Profile", edit_user_path(current_user), class:"dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>   
  </div>
  <form class="form-inline">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Login", login_path, class: "btn btn-danger"  %>
    <% end %>
  </form>
</nav>